*.cache
*.msi
*.wixobj
*.wixpdb
*.obj
*.ncb
*.suo
*.user
*.rtf#
*.gmo
*.pot
/bin/win32/Unicode Debug/
/bin/win32/Unicode Release/
/bin/linux/build_debug/
/bin/linux/build_release/
/bin/linux/adaptit.depend
/bin/linux/bin/
/bin/linux/obj/
/bin/source/
/bin/linux/adaptit.layout
/setup Unicode/
/setup Unicode - Minimal/
/setup Unicode - No Html Help/
/setup Unicode Documentation Only/
/setup Unicode Localizations Only/
/AIWX Installers/
/hlp/Adapt_It.htb

