*.cache
*.msi
*.wixobj
*.wixpdb
*.obj
*.ncb
*.suo
*.user
*.rtf#
*.gmo
*.pot
x/bin/win32/Unicode Debug/
/bin/win32/vc90.pdb
/bin/win32/Unicode Release/
/bin/win32/Debug/
/bin/win32/Adapt_It.depend
/bin/win32/Adapt_It.layout
/bin/win32/Adapt_It.sdf
/bin/linux/adaptit_wx3.0.depend
/bin/linux/adaptit_wx3.0.layout
/bin/linux/build_315_debug/
/bin/linux/build_315_release/
/bin/linux/config.log
/bin/linux/configure~
/bin/linux/libtool
/bin/linux/build_debug/
/bin/linux/build_release/
/bin/linux/INSTALL
/bin/linux/Makefile
/bin/linux/Makefile.in
/bin/linux/aclocal.m4
/bin/linux/config.guess
/bin/linux/config.sub
/bin/linux/configure
/bin/linux/configure.ac~
/bin/linux/depcomp
/bin/linux/install-sh
/bin/linux/ltmain.sh
/bin/linux/missing
/bin/linux/adaptit.depend
/bin/linux/bin/
/bin/linux/compile
/bin/linux/obj/
/bin/mac/build/
/bin/mac/DerivedData/
/bin/source/
/bin/linux/adaptit.layout
/debian/control.bak
/debian/control.save
/platform_setup_docs/Notes for revising the Setting up wxWidgets and Adapt It on Windows.odt
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/wxstd-es.po
/po/wxstd-fr.po
/po/wxstd-pt.po
/po/wxstd-ru.po
/po/wxstd-zh.po
/hlp_temp/
/scripts/release_bak_23Apr2022.sh
/setup Unicode/
/setup Unicode - Minimal/
/setup Unicode - No Html Help/
/setup Unicode Documentation Only/
/setup Unicode Localizations Only/
/source/.deps/
/source/adaptit.cbp
/source/adaptit.depend
/source/adaptit.layout
/source/wxsmith/
/AIWX Installers/
/hlp/Adapt_It.htb

*.xcuserstate
/bin/win32/*.opendb
/bin/win32/Adapt_It.VC.db
/setup Git/Git_Downloader_2_12_1_4AI.exe
/bin/win32/Adapt_It.aps
/setup Git/Git_Downloader_2_18_0_4AI.exe
.DS_Store
.DS_Store
.DS_Store
