*.cache
*.msi
*.wixobj
*.wixpdb
*.obj
*.ncb
*.suo
*.user
*.rtf#
*.gmo
*.pot
/bin/win32/Unicode Debug/
/bin/win32/Unicode Release/
/bin/linux/build_debug/
/bin/linux/build_release/
/setup Unicode/
/setup Unicode - Minimal/
/setup Unicode - No Html Help/
/setup Unicode Documentation Only/
/setup Unicode Localizations Only/

