<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Bundles</title>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<meta name="copyright" content="© 2006 SIL International">
<link rel="stylesheet" type="text/css" href="../../../Help.css">
</head>
<body>
<h2>Bundles</h2>
<p class="BodyText">A bundle is the portion of source text in a document Adapt It makes available in the <span class="UserInterface">Main window</span> at any one time. (You may need to use the scroll bars to see the entire bundle). Adapt It limits the number of words (or phrases) to keep the application responsive to your actions. The entire source text file is available but you must change bundles to view other portions of the file. The default setting is 300 source text words available in the <span class="UserInterface">Main window</span>.</p>
<p class="BodyText">When Adapt It reaches the end of a bundle, it automatically opens a new bundle which includes a new portion of the text. The new bundle includes a portion of the previous bundle so that you can keep the context of your work. In most cases, you will not notice when the bundle changes.</p>
<p class="BodyText">You can directly change the size of a bundle and move to another bundle when you want.</p>
<ul>
<li>
<p class="BodyText"><a href="Changing_the_bundle_size.htm">Changing the Bundle Size</a></p>
</li>
<li>
<p class="BodyText"><a href="Moving_to_a_new_bundle.htm">Moving to a New Bundle</a></p>
</li>
</ul>
<h4><img src="../../../Note_Icon.gif">&nbsp;Note</h4>
<ul>
<li>
<p class="BodyText">When moving between bundles, Adapt It helps to maintain context for you by including words from the previous bundle in the window.</p>
<ul>
<li>
<p class="BodyText">When moving down to a bundle, Adapt It includes 50 words of the previous bundle.</p>
</li>
<li>
<p class="BodyText">When moving up to a bundle, Adapt It includes the first 30 words of the following bundle.</p>
</li>
</ul>
</li>
<li>
<p class="BodyText">You cannot use the <span class="UserInterface">Scroll</span> bar, <span class="Keyboard">Page up</span> or <span class="Keyboard">Page Down</span> to move from one bundle to another. These tools operate only within the current bundle. You must use the <span class="UserInterface">Move Down One Step</span> <img src="../../../Images/Move_bundle_down.gif"> or <span class="UserInterface">Move Up One Step</span> <img src="../../../Images/Move_bundle_up.gif"> icons to change bundles. See <a href="Moving_to_a_new_bundle.htm">Moving to a new bundle.</a></p>
</li>
</ul>
<h4>Related Topics</h4>
<p class="BodyText"><a href="../Main_window.htm">Main window</a></p>
<p class="BodyText"><a href="../../../Adapt_It_Structure/UI_Structure/Adapt_It_user_interface.htm">Adapt It user interface</a></p>
<p class="BodyText"><a href="../../Phrase_Box/Phrase_box.htm">Phrase box</a></p>
</body>
</html>
