<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Changing the Bundle Size</title>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<meta name="copyright" content="© 2006 SIL International">
<link rel="stylesheet" type="text/css" href="../../../Help.css">
</head>
<body>
<h2>Changing the bundle size</h2>
<p class="BodyText">The default number of source text words is 300, but the user can change the bundle size.</p>
<ol>
<li>
<p class="BodyText">Select <span class="UserInterface">Preferences</span> in the <span class="UserInterface">Edit</span> menu.</p>
</li>
<li>
<p class="BodyText">Click the <span class="UserInterface">View</span> tab.</p>
</li>
<li>
<p class="BodyText">Select the <span class="UserInterface">Maximum source words (or phrases) displayed at one time (60 to 4000)</span> text box and enter the desired number.</p>
</li>
<li>
<p class="BodyText">Click <span class="UserInterface">OK</span></p>
</li>
</ol>
<h4><img src="../../../Note_Icon.gif">&nbsp;Note</h4>
<ul>
<li>
<p class="BodyText">The limits for the bundle size are a minimum of 60 words or phrases to a maximum of 4000. Selection of the appropriate number depends on how much of the document you want use for quick access at one time. Be aware that the limitations of your machine may affect Adapt It’s performance. A slow computer may become very sluggish if the bundle size is too large.</p>
</li>
<li>
<p class="BodyText">A small bundle size means that Adapt It automatically changes bundles more often as you work. A small bundle size makes Adapt It more responsive on slow computers, but also means that you have to use the <span class="UserInterface">Move Up</span> and <span class="UserInterface">Move Down</span> buttons more often.</p>
</li>
<li>
<p class="BodyText">A large bundle size may include more words and phrases than you can see on the computer screen at one time. You can use scrolling to see words or phrases in the bundle but not currently on the screen.</p>
</li>
<li>
<p class="BodyText">You cannot use the <span class="UserInterface">Scroll</span> bar, <span class="Keyboard">Page up</span> or <span class="Keyboard">Page Down</span> to move from one bundle to another. These tools operate only within the current bundle. You must use the <span class="UserInterface">Move Down One Step</span> <img src="../../../Images/Move_bundle_down.gif"> or <span class="UserInterface">Move Up One Step</span> <img src="../../../Images/Move_bundle_up.gif"> buttons to change bundles. See <a href="Moving_to_a_new_bundle.htm">Moving to a new bundle.</a></p>
</li>
</ul>
<h4>Related Topics</h4>
<p class="BodyText"><a href="Bundles.htm">Bundles</a></p>
</body>
</html>
