<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Pile</title>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<meta name="copyright" content="© 2006 SIL International">
<link rel="stylesheet" type="text/css" href="../../../Help.css">
</head>
<body>
<h2>Pile</h2>
<p class="BodyText">A pile is a stack of cells arranged vertically in the <span class="UserInterface">Main window</span>. Each pile has an entry in the source text <a href="Cell.htm">cell</a>. The entry in this cell can be a word, phrase, or <a href="Placeholder.htm">placeholder</a>. The words or phrases in each pile all line up on the left. (In languages that read from right to left, they would line up on the right.) Each <span class="DefinedWord">strip</span> in the view window consists of multiple piles. A vertical column of white space marks each boundary between piles.</p>
<h4>Related Topics</h4>
<p class="BodyText"><a href="Active_location.htm">Active location</a></p>
<p class="BodyText"><a href="Hole.htm">Hole</a></p>
<p class="BodyText"><a href="../Main_window.htm">Main window</a></p>
<p class="BodyText"><a href="Strip.htm">Strip</a></p>
<p class="BodyText"><a href="../../../Adapt_It_Structure/UI_Structure/Strips_piles_and_cells.htm">Strips, Piles, and Cells</a></p>
</body>
</html>
