<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Placeholder</title>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<meta name="copyright" content="© 2006 SIL International">
<link rel="stylesheet" type="text/css" href="../../../Help.css">
</head>
<body>
<h2>Placeholder</h2>
<p class="BodyText">A placeholder is a pile in which the source text cell displays an ellipsis (…). Adapt It creates a placeholder at your request when the target language <span class="DefinedWord">syntax</span> requires additional adaptation text but the source text at that point does not provide a word or phrase to adapt. You insert the placeholder by clicking the <a href="../../Tool_Bar/Placeholder_icons/Insert_a_placeholder.htm">Insert a Placeholder</a> button<img src="../../../Images/Placeholder.gif"> on the <span class="UserInterface">Tool</span> bar. The <span class="UserInterface">Phrase box</span> opens a new pile and places the ellipsis in the source text cell. You can then type the needed adaptation text into the <span class="UserInterface">Phrase box</span>.</p>
<p class="BodyText">Adapt It also uses a placeholder as part of laying out a <a href="../Retranslating_passages.htm">retranslation</a>. The application does this automatically.</p>
<h4><img src="../../../Note_Icon.gif">&nbsp;Note</h4>
<ul>
<li>
<p class="BodyText">Do not attempt to type in the ellipsis yourself. Adapt It will not recognize a typed ellipsis as an empty cell marker.</p>
</li>
</ul>
<h4>Related Topics</h4>
<p class="BodyText"><a href="Cell.htm">Cell</a></p>
<p class="BodyText"><a href="Pile.htm">Pile</a></p>
<p class="BodyText"><a href="Strip.htm">Strip</a></p>
<p class="BodyText"><a href="../../Tool_Bar/Placeholder_icons/Remove_a_placeholder.htm">Remove a placeholder</a></p>
<p class="BodyText"><a href="../../../Adapt_It_Concepts/Phrase.htm">Phrase</a></p>
<p class="BodyText">&nbsp;</p>
</body>
</html>
