Source: adaptit
Section: editors
Priority: optional
Maintainer: Bill Martin <bill_martin@sil.org>
Uploaders: Bruce Waters <bruce_waters@sil.org>,
 Jonathan Marsden <jmarsden@fastmail.fm>
Build-Depends: debhelper (>= 5), libwxgtk2.8-dev, zip, uuid-dev
HomePage: http://adapt-it.org
Standards-Version: 3.7.2

Package: adaptit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: bibledit-gtk (>= 4.2.93), libgnomeprintui (>= 2.2)
Description: helps in translating between related languages
 Adapt It gives you tools for translating text from one language which
 you know, to another related language known to you or a co-worker.
 .
 Adapt It translates or adapts source text documents into target or
 translated text. This process depends on the knowledge of the human
 translator in understanding both languages.
 .
 Adapt It maintains a Knowledge Base which stores word and phrase
 adaptations that can be automatically inserted into the target text,
 thus speeding the translation process.
 .
 Adapt It uses plain text (txt) files for input and expects the use of
 Unified Standard Format Markers (USFM) in the input file. The
 translated text can be exported as a USFM text file or a Rich Text
 format file.

Package: adaptit-docs
Section: doc
Architecture: all
Depends: adaptit, ${misc:Depends}
Description: Adapt It Documentation and Localization
 Documentation and localization for Adapt It.
 Adapt It gives you tools for translating text from one language which
 you know, to another related language known to you or a co-worker.
 .
 Adapt It translates or adapts source text documents into target or
 translated text. This process depends on the knowledge of the human
 translator in understanding both languages.
 .
 Adapt It maintains a Knowledge Base which stores word and phrase
 adaptations that can be automatically inserted into the target text,
 thus speeding the translation process.
 .
 Adapt It uses plain text (txt) files for input and expects the use of
 Unified Standard Format Markers (USFM) in the input file. The
 translated text can be exported as a USFM text file or a Rich Text
 format file.

